<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>154D24421D8C80B300ACEC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158E14A91D8E7667005B0BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158E14CE1D8E849D005B0BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15A1E0AD1D8B905C0068151B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
